/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 5rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

 

.starter-template {
    padding: 1.5rem 1.5rem;
    min-height:700px;
}


.step-wrapper {
    padding: 20px 0;
    display: none;
}

    .step-wrapper.active {
        display: block;
    }

.step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-top: 20px;
}

    .step-indicator li {
        display: table-cell;
        position: relative;
        float: none;
        padding: 0;
        width: 1%;
    }

        .step-indicator li:after {
            background-color: #ccc;
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            width: 100%;
            top: 32px;
        }

        .step-indicator li:after {
            left: 50%;
        }

        .step-indicator li:last-child:after {
            display: none;
        }

        .step-indicator li.active .step {
            border-color: #ffc300;
            color: #ffc300;
        }

        .step-indicator li.active .caption {
            color: black;
        }

        .step-indicator li.complete:after {
            background-color: black;
        }

        .step-indicator li.complete .step {
            border-color: black;
            color: black;
        }

        .step-indicator li.complete .caption {
            color: black;
        }

    .step-indicator .step {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ccc;
        color: #ccc;
        font-size: 24px;
        height: 64px;
        line-height: 64px;
        margin: 0 auto;
        position: relative;
        width: 64px;
        z-index: 1;
    }

        .step-indicator .step:hover {
            cursor: pointer;
        }

    .step-indicator .caption {
        color: #ccc;
        padding: 11px 16px;
    }

    .btn-primary {
        color: #fff;
        background-color: #ffc300;
        border-color: #ffc300;
    }

    .btn-primary:disabled {
        color: #fff;
        background-color: #ffc400ad;
        border-color: #ffc400ad;
    }