
@{
    ViewData["Title"] = "Done";
}



<div class="row">
    <div class="col-12">
        <h2 class="text-center">Your request has benn submitted successfully! <br /> Check your contact  email more more updates</h2>
    </div>
</div>